macOS/Cub3D.code-workspace
macOS/norminette
macOS//srcs/minilibx
macOS//src/get_next_line
macOS/.vscode/
*.o
macOS/srcs/mandatory/cub3d.h.gch
macOS/Cub3D.dSYM
macOS/cub3D_tester
macOS/cub3D_map_tester
macOS/cub3d-leaks-tester
macOS/src/core/render/utils_color_unused.c
